
<div class="productName"><%= @product.name %></div>
<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
<h1 class="productPrice"><%= @product.price %></h1>
<h1 class="productInventory"><%= @product.inventory %></h1>
<p class="productDescription"><%= @product.description %></p>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/products/" + nextId + "/data", function(data) {
      $(".productName").text(data["name"]);
      $(".productPrice").text(data["price"]);
      $(".productInventory").text(data["inventory"]);
      $(".productDescription").text(data["description"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
